 <!-- Relocation content -->
 <div class="relocation-Content">
    <div class="candidate-headertxt">Is anyone else relocating with you ?</div>  
    <div class="select-Na-cardcont">
      <!-- card section starts -->
       <div class="select-Na-cardimagecont">
         <div class="relocation-Boxcont">
           <img src="../../../../../assets/images/candidate-assessment/yes-thumb.svg" alt="Yes" title="Yes"/>
           <span>YES</span>
          </div>
       </div>
       <!-- card section ends -->
       <!-- card section starts -->
       <div class="select-Na-cardimagecont">
         <div class="relocation-Boxcont"><img src="../../../../../assets/images/candidate-assessment/no-thumb.svg" alt="No" title="No"/>NO</div>
       </div>
       <!-- card section ends -->
    </div>    
  </div>
  <!-- Button section starts -->
<div class="candidate-btn-container">
<button mat-button matStepperNext class="candidate-btn" >Next</button>
</div>
 <!-- Button section ends -->