 <!-- Number of people relocating content -->
 <div class="stepper-Previousbtn"><button matStepperPrevious>
   <!-- <mat-icon>arrow_back</mat-icon> -->
   <img src="../../../../../assets/images/candidate-assessment/previous-arrow.svg" alt="Number of people" title="Number of people"/>
  </button>
 </div>
 <div class="relocation-Content">
    <div class="candidate-headertxt">How many people, including yourself, are relocating ?</div>  
    <div class="select-Na-cardcont">
      <!-- card section starts -->
       <div class="select-Na-cardimagecont">
         <div class="relocation-Personcont">
           <img src="../../../../../assets/images/candidate-assessment/person-one.svg" alt="Number of people" title="Number of people"/>
           <span>1</span>
          </div>
       </div>
       <!-- card section ends -->
       <!-- card section starts -->
       <div class="select-Na-cardimagecont">
         <div class="relocation-Personcont"><img src="../../../../../assets/images/candidate-assessment/person-two.svg" alt="Number of people" title="Number of people"/>2</div>
       </div>
       <!-- card section ends -->
       <!-- card section starts -->
       <div class="select-Na-cardimagecont">
          <div class="relocation-Personcont"><img src="../../../../../assets/images/candidate-assessment/person-three.svg" alt="Number of people" title="Number of people"/>3</div>
        </div>
        <!-- card section ends -->
        <!-- card section starts -->
       <div class="select-Na-cardimagecont">
          <div class="relocation-Personcont"><img src="../../../../../assets/images/candidate-assessment/person-four.svg" alt="Number of people" title="Number of people"/>4+</div>
        </div>
        <!-- card section ends -->
    </div>    
  </div>
    <!-- Button section starts -->
<div class="candidate-btn-container">
    <button mat-button matStepperNext class="candidate-btn" >Next</button>
    </div>
     <!-- Button section ends -->