<!-- <div class="candidates-container">
    <section> -->
      <!-- <main class="demo-main" > -->
          <!-- <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center" class="candidate-steppersection" > -->
                    <!-- Leftsection content starts-->
         
            <!-- <div class="candidate-Na-Leftcontainer">
                <div class="fxFlex" fxFlex="100%">                 -->
                <!-- <mat-horizontal-stepper [linear]="isLinear" #stepper (selectionChange)="onStepChange($event)">
                    <mat-step>
                      <app-welcome-page></app-welcome-page>                        
                    </mat-step>
                    <mat-step>
                       <app-relocation></app-relocation>                        
                    </mat-step>
                    <mat-step>
                      <app-people-relocation></app-people-relocation>
                    </mat-step>
                  </mat-horizontal-stepper> -->
                <!-- </div>
              </div> -->
        <!-- Leftsection content ends-->
         <!-- rightsection content starts-->
        
         <!-- <div class="candidate-Na-Rightcontainer">
            <div class="fxFlex" fxFlex="100%">

           <app-rightsection></app-rightsection>

         </div>
        </div> -->
          <!-- rightsection content ends-->
          <!-- </main> -->
        <!-- </div>
        </section> -->

        <div class="candidate-NA-Manincont">
    
          <div fxLayout="row" 
               fxLayout.xs="column" 
               fxFlexFill >
               
            <div fxFlex="75%" class="needs-Leftsec" fxFlex.xs="100%">
                 <mat-horizontal-stepper  #stepper (selectionChange)="onStepChange($event)">
                  <mat-step>
                    <div *ngIf="stepper.selectedIndex==0">
                        <app-welcome-page></app-welcome-page> 
                    </div>
                                               
                  </mat-step>                  
                  <mat-step>
                      <div *ngIf="stepper.selectedIndex==1">
                     <app-relocation [needsAssessment]="assessmentModel" (notify)="onNotify($event)"></app-relocation>   
                     </div>                     
                  </mat-step>
                  <mat-step>
                      <div *ngIf="stepper.selectedIndex==2">
                    <app-people-relocation [needsAssessment]="assessmentModel" (notify)="onNotify($event)"></app-people-relocation>
                    </div>
                  </mat-step>
                  <mat-step>
                      <div *ngIf="stepper.selectedIndex==3">
                    <app-current-address [needsAssessment]="assessmentModel" (notify)="onNotify($event)"></app-current-address>
                    </div>
                  </mat-step>
                  <mat-step>
                      <div *ngIf="stepper.selectedIndex==4">
                      <app-destination [needsAssessment]="assessmentModel" (notify)="onNotify($event)"></app-destination>
                      </div>
                    </mat-step>
                    <mat-step>
                        <div *ngIf="stepper.selectedIndex==5">
                      <app-current-residnce [needsAssessment]="assessmentModel" (notify)="onNotify($event)"></app-current-residnce>
                      </div>
                    </mat-step>
                    <mat-step>
                        <div *ngIf="stepper.selectedIndex==6">
                      <app-type-of-home [needsAssessment]="assessmentModel" (notify)="onNotify($event)"></app-type-of-home>
                      </div>
                    </mat-step>
                    <mat-step>
                        <div *ngIf="stepper.selectedIndex==7">
                      <app-number-of-rooms [needsAssessment]="assessmentModel" (notify)="onNotify($event)"></app-number-of-rooms>
                      </div>
                    </mat-step>
                    <mat-step>
                        <div *ngIf="stepper.selectedIndex==8">
                      <app-review [needsAssessment]="assessmentModel"></app-review>
                      </div>
                    </mat-step>
                </mat-horizontal-stepper> 
              </div>
              
              <div fxFlex="25%" class="needs-Rightsec" fxFlex.xs="100%">
                  <app-rightsection></app-rightsection>
              </div>
          </div>
        </div>
  <router-outlet></router-outlet>
<!-- </div> -->
