@import '../../../sass/cartus-palette.scss';

.candidates-container {
    max-width: 1600px !important;
}

  .example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
  .example-radio-button {
    margin: 5px;
  }
  
  :host ::ng-deep .mat-horizontal-stepper-header-container {
    display: none !important;
  }
  // Candidate style starts here
  .candidate-Na-Leftcontainer{
    width:80%;
    padding: 70px 20px 100px 50px;
    background-color: #fff;
  }
  .candidate-Na-Rightcontainer{
    width:20%;
  }
  .candidate-steppersection{
    padding: 20px;
  }
  // Relocation styles
  .select-Na-cardcont{
    display:flex;
    justify-content: center; /* align horizontal */
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .select-Na-cardimagecont div{   
    margin: 10px;
    text-align: center;
    font-size: 30px;
    border: 1px solid #707070;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    &.relocation-Boxcont{
      width: 295px;
      height:295px;
    }
   &.relocation-Personcont{
      width:224px;
      height:224px;
    }
  }
  .select-Na-cardimagecont div img{
    display: block;
  }
  .txt{
    justify-content: end;
  }
  .candidate-headertxt{
    border-bottom: 1px solid #707070;
    font-size:32px;
    color:#808080;
    margin-bottom:30px;
    padding-top:30px;
    padding-bottom:20px;
    text-align: left;
  }
  // button css
.candidate-btn-container{
  display:flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.candidate-btn{
  justify-content: center;
  width:364px;
  height:97px;
  border:1px solid #707070;
  color:#565656;
  font-size:24px;
  &:active{
    // text-decoration: underline;
    // border: 2px solid map-get($cartus-palette, 'cartus_dark_accent_blue');
    // background-color: map-get($cartus-palette, 'cartus_accent_blue');
}
&:hover{
    // background-color: map-get($cartus-palette, 'cartus_dark_accent_blue');
}   
&:disabled{
    // color:map-get($cartus-palette,'cartus_gray');
    // background-color: map-get($cartus-palette,'cartus_disabled_gray');
}
}


/* Add application styles & imports to this file! */

.bounds {
  background-color:#ddd;
  width:100%;
  @media screen and (min-width:768px) {
    height :100vh;
  }
}

.sec1 {
  background:#fff;
}


.sec3 {
  background:#F5F5F6;
}

.sec1, .sec2, .sec3 {
  padding-top:20px;
  text-align:center
}

.content {
  // min-width: 300px;
  /*height: 400px;*/
}

// Matstepper arrow
.stepper-Previousbtn button{
  width:0;
  border:0;
  background: none;
  outline: none;
  text-align: left;
  display:flex;
}
.stepper-Previousbtn mat-icon{
  color:#F5F5F6;
  width:100px;
  font-size:50px;
}
// Address styles
.current-Address mat-form-field{
width:100%;
}