<div class="addCostModelFormContainer" flexLayout fxLayout.xs="column">
  <div mat-dialog-title disableTypography className={styles.dialogTitle} fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="20px" fxLayoutGap.xs="0em">
    <h2>{{ title }}</h2>
    <a class="close-icon" id="close_icon" (click)="onNoClick()">
      <mat-icon>close</mat-icon>
    </a>
  </div>
  
  <mat-dialog-content>    
    <form fxLayout="column" [formGroup]="addCostModelForm">
      <div class="input-row" fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="2em" fxLayout.xs="column" fxLayoutGap.xs="0em">
        <div fxFlex="50%" fxLayoutAlign="start" fxLayout.xs="column" fxFlex.xs="100%">
          <mat-form-field>
            <input matInput placeholder="Model Name" formControlName="ModelName">
            <mat-error>
              {{ getErrorMessage('MODEL_NAME') }}
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="50%" fxLayout.xs="column" fxFlex.xs="100%">
          <mat-form-field>
            <mat-label>Level</mat-label>
            <mat-select formControlName="Level" (blur)="showPredictedRelocationCost()">
              <mat-option *ngFor="let level of levels" [value]="level.levelName">
                {{level.levelName}}
              </mat-option>
            </mat-select>
            <mat-error>
              {{ errors['Level'] }}
            </mat-error>    
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="2em" fxLayout.xs="column" fxLayoutGap.xs="0" >
        <div fxFlex="50%" fxLayoutAlign="start" fxLayout.xs="column" fxFlex.xs="100%">
          <mat-form-field>
            <input type="text" placeholder="Departure" matInput formControlName="Departure" [matAutocomplete]="departureList" (blur)="showPredictedRelocationCost()">
            <mat-autocomplete #departureList="matAutocomplete" >
              <mat-option *ngFor="let departure of departures | async" [value]="departure.name">
                {{departure.name}}
              </mat-option>
            </mat-autocomplete>
            <mat-error>
              {{ errors['Departure'] }}
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex fxLayout.xs="column" class="hide-arrow-xs">
          <i class="material-icons modal-rightnavarrow">
            arrow_forward_ios
          </i>
        </div>
        <div fxFlex="45%" fxLayout.xs="column" fxFlex.xs="100%">          
          <mat-form-field>
            <input type="text" placeholder="Destination" matInput formControlName="Destination" [matAutocomplete]="destinationList" (blur)="showPredictedRelocationCost()">
            <mat-autocomplete #destinationList="matAutocomplete">
              <mat-option *ngFor="let destination of destinations | async" [value]="destination.name">
                {{destination.name}}
              </mat-option>
            </mat-autocomplete>
            <mat-error>
              {{ errors['Destination'] }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div *ngIf="showLoader" class="loader">Loading....</div>
      <div *ngIf="displayPredictedRelocationCost" class="predicted-relocation-cost">
        <div class="input-row" fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="2em" fxLayout.xs="column" fxLayoutGap.xs="0em">
          <div fxFlex="100%" fxLayout.xs="column" fxFlex.xs="100%">        
            <mat-accordion [multi]="true">
              <mat-expansion-panel *ngFor="let estimate of costModelEstimates;let i=index">
                <mat-expansion-panel-header>
                  <mat-panel-title >
                    {{estimate.title}} <mat-icon matPrefix *ngIf="i===0">person</mat-icon>
                    <mat-icon matPrefix *ngIf="i===1">people</mat-icon>
                    <mat-icon matPrefix *ngIf="i===2">people</mat-icon>
                    <mat-icon class="custom-people-icon" matPrefix *ngIf="i===2">person</mat-icon>
                    <mat-icon class="custom-add-icon" matPrefix *ngIf="i===2">add</mat-icon>
                  </mat-panel-title>
                  <mat-panel-description fxLayoutAlign="end center">
                    {{estimate.minAmount | currency:'&nbsp;'}} - {{estimate.maxAmount | currency:'&nbsp;'}} {{estimate.currency}}
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <div *ngFor="let product of estimate.products" class="input-row" fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="2em" fxLayoutGap.xs="0em">
                  <div fxFlex="50%" fxLayoutAlign="start" fxFlex.xs="50%">
                    <div class="core-services">
                      <p>{{product.name}}</p>
                      <p>{{product.descriptionLine1}}</p>
                      <p>{{product.descriptionLine2}}</p>
                    </div>
                  </div>
                  <div fxFlex="50%" fxLayoutAlign="end" fxFlex.xs="50%">
                    <div class="core-services-amount">
                      <p>{{product.minAmount | currency:'&nbsp;'}} - {{product.maxAmount | currency:'&nbsp;'}} {{product.currency}}</p>
                    </div>
                  </div>
                </div>
                <div class="input-row" fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="2em" fxLayoutGap.xs="0em">
                  <div fxFlex="50%" fxLayoutAlign="start" fxFlex.xs="100%">
                    <div class="tax-assistance">
                      <p>TAX ASSISTANCE</p>
                    </div>
                  </div>
                  <div fxFlex="50%" fxLayoutAlign="end" fxFlex.xs="100%">
                    <div class="tax-assistance-amount">
                      <p>{{estimate.taxMinAmount | currency:'&nbsp;'}} - {{estimate.taxMaxAmount | currency:'&nbsp;'}} {{estimate.currency}}</p>
                    </div>
                  </div>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
      </div>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button id="cancel_cost_model" (click)="onNoClick()">CANCEL</button>
    <button mat-raised-button id="save_cost_model" [disabled]="!addCostModelForm.valid" (click)="saveCostModel()">Save</button>
  </mat-dialog-actions>
</div>
